.item-list {
  border: solid 1px #ccc;
  border-radius: 5px;
}

.item-box {
  background-color: cornflowerblue;
  color: white;
  cursor: grab;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  border-bottom: 1px solid #ccc;
}

.cdk-drag-preview {}

.cdk-drag-placeholder {}

.cdk-drg-animation {}

