.item-list {
  max-width: 900px;
}

.cdk-drag {
  cursor: move;
  background-color: white;
}

.cdk-drag-preview {
  box-sizing: border-box;
  background-color: cornflowerblue;
  cursor: move;
  display: table;
  padding: 0.5rem 0.5rem;
  color: white;
}

.cdk-drag-placeholder {
}

.cdk-drg-animation {}

